<div class="logolink" ><%= link_to image_tag("greengo-logo.png"), main_path %></div>
<div class="container">
	<div class="mainwrapper">
		<div class="upperpartheading1">
			<form>
				<div class="group">
					<input class="animatedinput" type="text" required>
					<span class="highlighted"></span>
					<span class="bar" id="wherebar"></span>
					<label class="mainlabel">
						<pre>W  H  E  R  E  ?</pre>
					</label>
				</div>
			</form>
		</div>
		<div class="upperpartheading2">
			<form>
				<div class="group">
					<input class="animatedinput" type="text" id="datepickercheckin" required>
					<span class="highlighted"></span>
					<span class="bar"></span>
					<label class="mainlabel">
						<pre>C  H  E  C  K  I  N</pre>
					</label>
				</div>
			</form>
		</div>
		<div class="upperpartheading3">
			<form>
				<div class="group">
			    	<input class="animatedinput" type="text" id="datepickercheckout" required>
			    	<span class="highlighted"></span>
			    	<span class="bar"></span>
			    	<label class="mainlabel">
			    		<pre>C  H  E  C  K  O  U  T</pre>
			    	</label>
			    </div>
			</form>
		</div>
		<div class="upperpartheading4"><div class="howmanywrapper">
			<form>
				<div class="group">
					<input class="animatedinput" type="text" name="howmanyinputname" onclick="myFunction()" required>
					<span class="highlighted"></span>
					<span class="bar"></span>
					<label class="mainlabel">
						<pre>H  O  W    M  A  N  Y  ?</pre>
					</label>
				</div>
			</form>
		</div></div>
		<div class="upperpartheading5">
			<button class="searchbutton" type="button">SEARCH</button>
		</div>
	</div>
	<div class="mainborder"></div>
    <%= link_to image_tag("nature1.jpg"), main_path, class: "image1" %><!--
 --><%= link_to image_tag("nature2.jpg"), main_path, class: "image2" %><!--
 --><%= link_to image_tag("nature3.jpg"), main_path, class: "image3" %><!--
 --><%= link_to image_tag("nature4.jpg"), main_path, class: "image4" %><!--
 --><%= link_to image_tag("nature5.jpg"), main_path, class: "image5" %>
</div>