<div class="loginformwrapper">
<%= form_tag partner_sessions_path, method: :post do %>
  <div class="loginformwrapperfield">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br/>
  </div>
  <div class="loginformwrapperfield">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br/>
  </div>
  <div class="loginformwrapperfieldaction">
    <%= submit_tag "Login" %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
</div>